@font-face {
    font-family: 'blaca';
    src: url('/font/Blaka.ttf'); 
  }
  @font-face {
    font-family: 'a';
    src: url('/font/Blaka.ttf'); 
  }

body {
    background-color: $backgroundSecundario;

    article {
        div {
            div {
                div {
                    font-family: 'Blaca';
                    font-size:larger;
                    text-align: center;
                    div { 
                        font-family: 'Blaca';
                        font-size:larger;
                        text-align: center;
                        p {
                            font-family: 'regular';
                            font-size:medium;
                            text-align: center;

                        }
                    }   
                }
            }
        }
    }
}