@font-face {
	font-family: 'Blaca';
	src: url('../font/Blaka.ttf');
}
@font-face {
	font-family: 'Regular';
	src: url('../font/Regular.ttf');
}
body {
    background-color: $backgroundSecundario;

    article {
        div {
            div {
                div {
                    font-family: 'Blaca';
                    font-size:larger;
                    text-align: center;
                    div { 
                        font-family: 'Blaca';
                        font-size:larger;
                        text-align: center;
                        p {
                            font-family: 'regular';
                            font-size:medium;
                            text-align: center;

                        }
                    }   
                }
            }
        }
    }
}