footer {
    background-color: $backgroundPrimario;
    

      p {
        padding: 10px 10px;
        margin-top: 10px;
        font-family: 'blaca';
        font-size:large;
        text-align: center;
      }
      div { 
        font-size: 60px;
        padding: 10px 10px;
        color:$backgroundSecundario;
     
        }
      
    
}