header {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #c64125;

    div {
            a { 
                img  { 
                        height:200px;
                        width: 200px;
                    }
        
                }
        }
}
