@font-face {
	font-family: 'Blaca';
	src: url('../font/Blaka.ttf');
}
@font-face {
	font-family: 'Regular';
	src: url('../font/Regular.ttf');
}

.carousel-inner {
  max-height: 15rem;
  }

.cuerpo {
  background-color: #c76d18;
}
.menuCarta {
  display: flex;
  flex-direction: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.itemCarta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fontTitulos {
  font-family: 'Blaca';
  font-size:larger;
  text-align: center;
}
.fontTextos {
  font-family: 'regular';
  font-size:medium;
  text-align: center;
}
.pie {
  background-color: #c64125;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pieTextos {
  padding: 10px 10px;
  margin-top: 10px;
  font-family: 'blaca';
  font-size:large;
  text-align: center;
}
.formularioTitulo {
  font-size: larger;
  font-weight: bold;
}

#iconos i {
  font-size: 60px;
  padding: 80px 80px;
  color:#c76d18;
  margin-top: 100px;
  
}
.cabecera {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #c64125;
}